body{
    background-color: rgb(234, 241, 241);
    
}

.Container{
display: flex;
justify-items: center;
margin: 300px;
color: white;
}

.box1{
    background-color: rgb(236, 92, 172);
    width: 400px;
    height: 350px;
}
.Title{
font-weight: bold;
padding: 20px 20px;
font-size: x-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Subtitle{
font-size: small;
padding: 0px 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box2{
    background-color: rgb(45, 135, 151);
    width: 400px;
    height: 350px;
    
}

.box3{
    background-color:rgb(209, 16, 247) ;
    width: 400px;
    height: 350px;

}
.Learn1{ background-color: rgb(239, 240, 239);
    color: rgb(253, 27, 234);
    border: none;
    border-radius: 20px;
    height: 1cm;
    width: 100px;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
margin: 40px 50px;}


.Learn2{ background-color: rgb(239, 240, 239);
    color: rgb(45, 135, 151);
    border: none;
    border-radius: 20px;
    height: 1cm;
    width: 100px;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
margin: 40px 50px;}

.Learn3{ background-color: rgb(239, 240, 239);
    color: rgb(209, 16, 247);
    border: none;
    border-radius: 20px;
    height: 1cm;
    width: 100px;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
margin: 40px 50px;}

.car{
    margin: 20px 20px;
}